##导入宏定义
$!define

##保存文件（宏定义）
#save("/entity", ".java")

##包路径（宏定义）
#setPackageSuffix("entity")

##自动导入包（全局变量）
$!autoImport
import com.baomidou.mybatisplus.extension.activerecord.Model;
import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableLogic;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

##表注释（宏定义）
#tableComment("表实体类")
@SuppressWarnings("serial")
@Data
public class $!{tableInfo.name} extends Model<$!{tableInfo.name}> {
#foreach($column in $tableInfo.fullColumn)  
    #if($velocityCount==1)
    @TableId(type = IdType.INPUT)
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
    #else

        #if($!{column.name.equals("isDeleted")})
        @ApiModelProperty(value = "${column.comment}")
        @TableLogic   
        private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
        #else
             @ApiModelProperty(value = "${column.comment}")
            private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
            #end
    
        #end
#end
}
